<!-- Sub template to render single post -->
<!-- '_post.html': The `_` prefix is just a naming convention to recognize sub-templates -->
<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(70) }}" class="rounded-circle"/>
            </a>
        </td>
        <td>
            <h6 class="card-title">
                <a href="{{ url_for('user', username=post.author.username) }}" class="text-decoration-none">
                {{ post.author.username }}
                </a>
            </h6>
            <p class="card-text">{{ post.body }}</p>
            <small class="text-muted">Posted: {{ moment(post.timestamp).fromNow() }}</small>
        </td>
    </tr>
</table>