{% extends "base.html" %}
{% import '__page_navigation.html' as pg %}
{% import '__bootstrap_forms.html' as forms %}

{% block content %}
    <div class="container">
        <h1 class="text-center mb-2" style="font-family:Georgia; color: #ae6124">Hi, {{ current_user.username | title }}</h1>
        {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ forms.form_field(form.post, attributes= {'cols': 32, 'rows': 4, 'placeholder': "Jot down your thoughts!"}) }}
            <div class="text-left mt-2">
                {{ form.submit(class_='btn btn-primary btn-sm') }}
            </div>
        </form>
        {% endif %}
    </div>
    <br>
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-md-6 mb-3">
                {% include "_post.html" %}
            </div>
            {% if loop.index % 2 == 0 %}
                <div class="w-100"></div> <!-- Ensures a new row every 2 posts -->
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {{ pg.page_navigation(prev_url, next_url) }}
{% endblock %}