{% extends "base.html" %}
{% import '__bootstrap_forms.html' as forms %}

{% block content %}
<div>
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 75vh;">
        <div class="card shadow-lg p-4 w-100 rounded-4" style="max-width: 400px; background-color: #ffffff;">
            <h2 class="text-center mb-4 text-secondary">Reset Your Password</h2>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ forms.form_field(form.password, attributes= {'placeholder': "Enter your new password"}) }}
                {{ forms.form_field(form.confirm_password, attributes= {'placeholder': "Confirm your new password"}) }}
                <div class="d-grid mt-4">
                    {{ form.submit(class_='btn btn-dark btn-lg') }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}